_site
_posts/_draft
_posts/_archive
_archive
node_modules
.vscode
*.log
*.lock
*.sh
.DS_Store
.jekyll-cache
*/.DS_Store
*/*/.DS_Store
_posts/2021-03-17-关于多小区通信系统中信道容量问题的勘误.md_
_posts/2022-01-29-当代通信简史.md
_posts/2022-02-18-数据压缩概述（二）.md
_posts/2022-03-23-微波全息与近场.md_
_posts/2022-12-14-传染病模型.md
.jekyll-metadata
/_disabled
/_keynotes
_posts/2023-12-12-nespresso.md
ads.txt
