{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <div class="nav-controls">
          <div id="theme-toggle" class="masthead__menu-item masthead__menu-item--theme">
            <a class="theme-toggle" role="button" aria-label="Toggle Dark Mode" aria-pressed="false" title="Toggle Dark Mode">
              <span class="theme-toggle__track">
                <span class="theme-toggle__knob"><i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true"></i></span>
              </span>
            </a>
          </div>
          <button class="greedy-nav__toggle" aria-label="Toggle navigation"><div class="navicon"></div></button>
        </div>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
