{% include base_path %}

{% assign page_lang = page.lang | default: 'zh' %}
{% assign lang_posts = '' | split: ',' %}
{% for post in site.posts %}
  {% assign post_lang = post.lang | default: 'zh' %}
  {% if post_lang == page_lang %}
    {% assign lang_posts = lang_posts | push: post %}
  {% endif %}
{% endfor %}

{% assign prev_post = nil %}
{% assign next_post = nil %}
{% assign found = false %}
{% assign previous_in_loop = nil %}

{% for post in lang_posts %}
  {% if found %}
    {% assign prev_post = post %}
    {% break %}
  {% endif %}
  {% if post.url == page.url %}
    {% assign found = true %}
    {% assign next_post = previous_in_loop %}
  {% else %}
    {% assign previous_in_loop = post %}
  {% endif %}
{% endfor %}

{% if prev_post or next_post %}
  <nav class="pagination">
    {% if prev_post %}
      <a href="{{ base_path }}{{ prev_post.url }}" class="pagination--pager" title="{{ prev_post.title | markdownify | strip_html }}">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
    {% endif %}
    {% if next_post %}
      <a href="{{ base_path }}{{ next_post.url }}" class="pagination--pager" title="{{ next_post.title | markdownify | strip_html }}">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a>
    {% endif %}
  </nav>
{% endif %}
