---
layout: compress
---

{% include base_path %}

{% if page.lang == "en" %}
  {% assign page_lang = "en" %}
{% else %}
  {% assign page_lang = "zh-CN" %}
{% endif %}
<!doctype html>
<html lang="{{ page_lang }}" class="no-js">
{% include theme-init.html %}
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
