
<h4><i class="fa fa-newspaper-o"></i>&nbsp;&nbsp;Latest News</h4>
<hr>
<ul style="font-family: Consolas, Georgia, Times, serif;">
    <b><font color="#FF0000">[2024.07]</font></b> One paper accepted by GLOBECOM'24 (Wireless Communication Symposium), <a href="http://arxiv.org/abs/2405.01000" target="_blank">
        <font>available on arXiv</font></a>.
    <br>
    <b><font color="#FF0000">[2024.05]</font></b> One paper submitted to GLOBECOM'24 (Wireless Communication Symposium), <a href="http://arxiv.org/abs/2405.01000" target="_blank">
        <font>available on arXiv</font></a>.
    <br>
    <b><font color="#FF0000">[2024.03]</font></b> One paper submitted to JSAC'NGAT'24, <a href="http://arxiv.org/abs/2403.11809" target="_blank">
        <font>available on arXiv</font></a>.
    <br>
    <b><font color="#FF0000">[2023.10]</font></b> One paper accepted by ICC'24 (Wireless Communication Symposium), <a href="http://arxiv.org/abs/2310.18180" target="_blank">
        <font>available on arXiv</font></a>.
    <br>
    <b><font color="#FF0000">[2023.10]</font></b> One paper submitted to ICC'24, <a href="http://arxiv.org/abs/2310.18180" target="_blank">
        <font>available on arXiv</font></a>.
    <br>
    <b><font color="#FF0000">[2023.09]</font></b> Awarded Entrance Scholarship of CityU ($3,508/mo).
    <br>
    <b><font color="#FF0000">[2023.07]</font></b> One paper accpeted by <i>IEEE/CIC ICCC</i>.
    <br>
    <b><font color="#FF0000">[2023.07]</font></b> One paper accpeted by <i>IEEE JSTSP</i>.
    <br>
    <b><font color="#FF0000">[2023.06]</font></b> Awarded <b>Outstanding Master Thesis</b> by Beijing Institute of Technology.
    <br>
    <b><font color="#FF0000">[2023.06]</font></b> Awarded <b>Municipal Excellent Graduate</b> of Beijing.
    <br>
    <b><font color="#FF0000">[2023.04]</font></b> Awarded Hong Kong PhD Fellowship Scheme (HKPFS) at CityU Hong Kong.
    <br>
    <b><font color="#FF0000">[2022.06]</font></b> Get Internship Offer of ByteDance.
    <br>
    <b><font color="#FF0000">[2022.06]</font></b> One paper elected as Student Best Paper of <i>IWCMC 2022</i>.
    <br>
    <b><font color="#FF0000">[2021.09]</font></b> Awarded Third Prize in <a href="https://mp.weixin.qq.com/s/OuTtATdeKc5t3hTKJhWvDQ" target="_blank">
        <font>Wireless AI Competition</font></a>
    <br>
    <b><font color="#FF0000">[2021.09]</font></b> Awarded National Scholarship 2021.
    <br>
    <b><font color="#FF0000">[2021.07]</font></b> One paper accpeted by <i>IEEE Communications Magazine</i>.
    <br>
</ul>