
<h4><i class="fa fa-newspaper-o"></i>&nbsp;&nbsp;最新动态</h4>
<hr>
<ul style="font-family: Consolas, Georgia, Times, serif;">
    <b><font color="#FF0000">[2024.07]</font></b> 一篇论文被GLOBECOM'24 (无线通信研讨会)接收, <a href="http://arxiv.org/abs/2405.01000" target="_blank">
        <font>arXiv</font></a>.
    <br>
    <b><font color="#FF0000">[2024.05]</font></b> 一篇论文投稿GLOBECOM'24 (无线通信研讨会), <a href="http://arxiv.org/abs/2405.01000" target="_blank">
        <font>arXiv</font></a>.
    <br>
    <b><font color="#FF0000">[2024.03]</font></b> 一篇论文投稿JSAC'NGAT, <a href="http://arxiv.org/abs/2403.11809" target="_blank">
        <font>arXiv</font></a>.
    <br>
    <b><font color="#FF0000">[2023.10]</font></b> 一篇论文被ICC'24 (无线通信研讨会)接收, <a href="http://arxiv.org/abs/2310.18180" target="_blank">
        <font>arXiv</font></a>.
    <br>
    <b><font color="#FF0000">[2023.10]</font></b> 一篇论文投稿ICC'24会议, <a href="http://arxiv.org/abs/2310.18180" target="_blank">
        <font>arXiv</font></a>.
    <br>
    <b><font color="#FF0000">[2023.09]</font></b> 获得CityU入学奖学金 ($3,508/月).
    <br>
    <b><font color="#FF0000">[2023.07]</font></b> 一篇论文被 <i>IEEE/CIC ICCC</i> 会议接收
    <br>
    <b><font color="#FF0000">[2023.07]</font></b> 一篇论文被 <i>IEEE JSTSP</i> 期刊接收
    <br>
    <b><font color="#FF0000">[2023.06]</font></b> 获得北京理工大学<b>优秀硕士学位论文</b>
    <br>
    <b><font color="#FF0000">[2023.06]</font></b> 获得<b>北京市优秀毕业生</b>
    <br>
    <b><font color="#FF0000">[2023.04]</font></b> 获得香港政府博士生奖学金 (HKPFS), 依托单位香港城市大学
    <br>
    <b><font color="#FF0000">[2022.06]</font></b> 获得字节跳动公司实习岗位
    <br>
    <b><font color="#FF0000">[2022.06]</font></b> 一篇论文被 <i>IWCMC 2022</i> 会议接收.
    <br>
    <b><font color="#FF0000">[2021.09]</font></b> 获得 <a href="https://mp.weixin.qq.com/s/OuTtATdeKc5t3hTKJhWvDQ" target="_blank">
        <font>无线通信AI 大赛</font></a> 三等奖
    <br>
    <b><font color="#FF0000">[2021.09]</font></b> 获得国家奖学金
    <br>
    <b><font color="#FF0000">[2021.07]</font></b> 一篇论文被 <i>IEEE Communications Magazine</i> 期刊接收
    <br>
</ul>